################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*Tests/bin
**/obj
/ALObjectParser.Library/ALObjectParser.Library.csproj.user
