################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*Tests/bin
**/obj
/ALObjectParser.Library/ALObjectParser.Library.csproj.user
*/bin/*
ALObjectParser.Library/bin/Debug/netcoreapp3.0/ALObjectParser.Library.dll
ALObjectParser.Library/bin/Debug/netcoreapp3.0/ALObjectParser.Library.pdb
